// ========================================
//
// @file _small-screen.scss
// Main grid classes
//
// ========================================


@media  (max-width: 480px) {

  /**************
  *
  * Front page
  *
  **************/

  .layout-container {
    .highlighted {
      .region-highlighted {
        #block-onboardingheaderleft {
          display: none;
        }
        #block-onboardingheaderright1 {
          margin: auto;
        }
        #block-onboardingheaderright2 {
          border-right: none;
          margin: auto;
        }
      }
    }
    .navigation {
      .region-primary-menu {
        nav {
          display: none;
        }
      }
    }
    .layout-page-content {
      .region-content {
        width: 90%;
        display: block;
        #block-onboarding-agile-content {
          margin-right: 0;
          .view-id-frontpage {
            .views-field-body {
              p:nth-child(1) {
                font-size: 1.6em;
              }
              p:nth-child(2) {
                margin-top: 5px;
              }
              p:nth-child(3) {
                text-align: justify;
              }
            }
          }
        }
      }
    }
    .featured-events {
      .region-featured-one {
        .view-latest-events {
          .view-content {
            display: block;
            .views-row {
              width: 100%;
              margin-bottom: 10px;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .featured-companies {
      .region-featured-two {
        &::before {
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 35px solid #29c1e1;
          right: 50%;
        }
        &::after {
          border-left: 30px solid transparent;
          border-right: 30px solid transparent;
          border-bottom: 60px solid rgb(247, 147, 29);
          right: 40%;
        }
        .block-views-blockfeatured-companies-block-1 {
          .view-content {
            .views-row {
              flex-basis: 100%;
            }
          }
        }
      }
    }
    .site-footer {
      .site-footer__top {
        padding: 0;
        display: block;
        text-align: center;
        .region-footer-first,
        .region-footer-second,
        .region-footer-third,
        .region-footer-fourth {
          margin-bottom: 10px;
        }
        .region-footer-first {
          display: none;
        }
        .region-footer-second {
          .menu {
            text-align: center;
            display: inline-grid;
            grid-column-gap: 20px;
          }
        }
      }
      .site-footer__bottom {
        padding-bottom: 10px;
        &::after {
          display: none;
        }
        &::before {
          display: none;
        }
      }
    }
  }

  /**************
   *
   * Companies page
   *
   **************/
  .layout-container {
    .region-header {
      #block-companyheader,
      #block-locationsheader,
      #block-eventheader {
        .field--name-body {
          p:nth-child(2) {
            margin-top: 2px;
            font-size: 1.3em;
          }
          p:nth-child(3) {
            font-size: 0.5em;
            font-weight: 400;
            width: 80%;
          }
        }
      }
    }
    .exposed-filters {
      height: auto;
      .region-header-bottom {
        display: block;
        #block-companies,
        #block-locations,
        #block-events {
          text-align: center;
          .field--name-body::after {
            content:"";
          }
          .field--name-body {
            padding: 0;
            border: 0;
            p:nth-child(1) {
              span {
                font-size: 25px;
              }
            }
            p:nth-child(2) {
              font-size: 20px;
            }
          }
        }
        #block-exposedformcompany-filterpage-company-filter,
        #block-exposedformlocations-filterpage-1,
        #block-exposedformevents-filterpage-1 {
          width: 100%;
          form {
            text-align: center;
            .form--inline {
              .form-item {
                float: none;
              }
            }
          }
        }
      }
    }
    .companies-content,
    .locations-content,
    .events-content {
      .region-content {
        padding: 0 10px;
        .view-header {
          text-align: center;
        }
        #block-onboarding-agile-content {
          .view-id-company {
            .view-content {
              .views-row {
                .views-field-view-node {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
  /**************
   *
   * Single company page
   *
   **************/
  .sidebar-second .main-section {
    display: block !important;
    padding: 0 10px;
    .region-content {
      .node__content {
        .field--name-field-company-industry,
        .field--name-field-company-website,
        .field--name-field-company-phone,
        .field--name-field-company-mail {
          display: block;
          width: 100%;
          margin-bottom: 5px;
          text-align: center;
        }
        .field--name-field-company-address::before {
          content:"";
        }
        .field--name-field-company-address {
          display: block;
          iframe {
            padding: 5px;
            max-width: 522px;
            width: 100%;
          }
          .simple-gmap-address {
            width: 100%;
            display: block;
            text-align: center;
            border: 0;
            margin: 10px 0;
            &:hover {
              border: 0;
            }
          }
        }
      }
    }
    .region-sidebar-second {
      text-align: center;
      .view-id-events_by_company {
        .views-field-title,
        .views-field-field-start-date,
        .views-field-field-event-image {
          padding-left: 0;
        }
        .views-field-title {
          border: 0;
          a {
            border-left: 5px solid #29c1e1;
            padding-bottom: 5px;
            padding-left: 10px;
          }
        }
        .views-field-field-event-image {
          margin-bottom: 10px;
          img {
            margin: auto;
          }
        }
      }
    }
  }

  /**************
   *
   * Events page
   *
   **************/
  .layout-container {
    .region-content {
      .view-id-events {
        .view-content {
          display: block;
          .views-row {
            margin-bottom: 5px;
            .views-field-field-description {
              padding: 0 5px;
            }
          }
        }
      }
    }
  }

  /**************
   *
   * Single event page
   *
   **************/
  .sidebar-first .main-section {
    display: block !important;
    .region-content {
      .node--type-event {
        .field--name-field-start-date,
        .field--name-field-end-date {
          padding: 0;
          display: block;
          width: 60%;
          margin: auto;
        }
        .field--name-field-description {
          padding: 0 10px;
        }
      }
    }
  }

  /**************
   *
   * Locations page
   *
   **************/
  .layout-container {
    .locations-content {
      .region-content {
        .view-content {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
