// ========================================
//
// @file _extends.scss
// File containing all Sass extendables
//
// ========================================

/*
 * Extendable CTA button styling
 */

// Orange button
.u-cta-o {
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: rgb(247, 147, 29);
  &:hover {
    background-color: rgb(165, 98, 18);
  }
}

// Blue button
.u-cta-b {
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: rgb(41, 193, 225);
  &:hover {
    background-color: rgb(23, 113, 132);
  }
}

/*
 * Added css ellipsis that is shortening text
 * and adds ... at the end of the line.
 */

//.block {
//  height: auto;
//  h1,h2,h3 {
//    width: 200px;
//    white-space: nowrap;
//    overflow: hidden;
//    text-overflow: ellipsis;
//  }
//  p {
//    width: 100%;
//    height: auto;
//    white-space: nowrap;
//    overflow: hidden;
//    text-overflow: ellipsis;
//  }
//}