// ========================================
//
// @file _typography.scss
// Base level typography, fonts, colors, sizes
//
// ========================================

@font-face {
  font-family: 'Karla';
  src: url('../../assets/fonts/Karla-Regular.ttf')  format('truetype')
}
@font-face {
  font-family: 'Karla-italic';
  src: url('../../assets/fonts/Karla-Italic.ttf')  format('truetype')
}
@font-face {
  font-family: 'Karla-bold';
  src: url('../../assets/fonts/Karla-BoldItalic.ttf')  format('truetype')
}

body {
  font-family: Karla;
}

p {

	&:last-child {
	  margin-bottom: 0;
      padding-bottom: 0;
	}
}

a {
  transition: 0.4s;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  a {
    color: #fff;

    &:hover {
    }
  }
}

h1 {
  @include rem('font-size', 36px);
}

h2 {
  @include rem('font-size', 30px);
}

h3 {
  @include rem('font-size', 24px);
}

h4 {
  @include rem('font-size', 20px);
}

h5 {
  @include rem('font-size', 18px);
}

h6 {
  @include rem('font-size', 16px);
}

ul {

  li {
    /*
     * Default style for li
     * Uncomment to use it
     */

    //&:before {
    //  font-family: 'FontAwesome';
    //  content: '\f00c';
    //  margin:0 5px 0 -15px;
    //}
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ol {
   /*
    * Default style for li
    * Uncomment to use it
    */

  //&:before {
  //  font-family: 'FontAwesome';
  //  content: '\f05d';
  //  margin:0 5px 0 -15px;
  //}

  li {
  }

  &:last-child {
    margin-bottom: 0;
  }
}

