// ========================================
//
// @file _page-filters.scss
// All the filter elements
//
// ========================================

.exposed-filters {
  width: 100%;
  background-color: gray;
  .region-header-bottom {
    width: 80%;
    margin: auto;
    display: flex;
    #block-locations {
      flex-basis: 30%;
      .field--name-body {
        margin-top: 10px;
        padding-left: 50px;
        border-left: 5px solid orange;
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
    .block-views-exposed-filter-blocklocations-filter-page-1 {
      flex-basis: 70%;
      display: inline-block;
      .form--inline {
        .form-actions {
          clear: none;
        }
      }
    }
  }
}

